EX1
<h1>Proyecto Botiga Virtual Marc.Pau_bo</h1>
<h2>Agregar campo ALUMN_VIRGEN</h2>
<button (click)="addVirgenCampo()">Agregar campo</button>


//EX2
<h1>Lista de asignaturas de Informática y Matemáticas Aplicadas</h1>

<button (click)="llistaAssigInfo()">Obtener lista de asignaturas</button>

<ul>
  <li *ngFor="let assig of contingut">
    {{ assig.codi }} - {{ assig.nom }}
  </li>
</ul>


//EX3
<h1>Modificar ubicación de departamento</h1>

<form>
  <label>
    ID de departamento:
    <input type="number" [(ngModel)]="departament.id">
  </label>
  <br>
  <label>
    Nueva ubicación:
    <input type="text" [(ngModel)]="departament.ubicacio">
  </label>
  <br>
  <button type="button" (click)="modificarDepartament()">Modificar ubicación</button>
</form>
